@import "tailwindcss";

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

body,
#app {
    height: 100%;
}

html {
    text-align: center;
    color: white;
    height: 100%;
}

.n-config-provider {
  height: 100%;

  display: flex;
  flex-direction: column;
}
.n-layout-scroll-container {
  display: flex;
  flex-direction: column;
}

label {
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

button {
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: all 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;       /* thumb, track */
}

*[inert]{
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.rotate-animation {
    animation: rotate 1s linear infinite;
}